html {
  scroll-behavior: smooth;
}

#cbar{
	left: 20vw;
	width: 70vw;
	height: 10rem;
}
#mbar{
	position: fixed;
	left: 20vw;
	/*margin-left: 200px;*/
	width: 70vw;
	opacity: 1.0;
	z-index: 10;
	height: 11rem;
	background-color: #fff;
}
#mnrwbr{
	/*width: 20vw;*/
	width: 20vw;
	height: 100vh;
}
#flwme{
	right: 0;
}
#navbarr{
	top: 0;
	padding: 1rem;
	position: fixed;
	/*margin-top: 10vh;*/
	width: 20vw;
	height: 100vh;
	opacity: 1;
	z-index: 10; 
	background-color: #F5F5F5;
}
#rm-cnt{
	/*margin-left: 10rem;*/
	/*margin-top: 100px;*/
	width: 100%;
}

#abtme, .rw{
	/*height: 100%;*/
}
.prf-img-blc{
	/*margin-left: 3rem;*/
	height: 15rem;
	display: block;
}

.prf-pic{
	width: 10rem;
	height: 10rem;
}
.mnblc{
	display: block;
	position: absolute;
	bottom: 0;
	/*text-align: middle;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
	/*line-height: 50px*/
}
#mndat{
	position: absolute;
	/*top: 11rem;*/
	left: 20vw;
	width: 70vw;
}
#mncon{
	width: 70vw;
}
.cls{
	/*position: relative;*/
}
.titblc{
	display: block;
	padding-top: 1rem;
	font-size: 1rem;
}
.sbtitblc{
	display: block;
	padding-top: 1rem;
	font-size: 1.7rem;
	font-family: 'Saira Extra Condensed', sans-serif;
}
.ssbtitblc{
	display: block;
	font-size: 1.4rem;
	font-family: 'Saira Extra Condensed', sans-serif;
	color:#808080;
}
.titl{
	display: block;
	padding-top: 1rem;
	font-size: 2.2rem;
	font-family: 'Saira Extra Condensed', sans-serif;
}
.titbl{
	display: inline-flex;
}
.sc-icons{
	/*line-height: 150px;*/
	/*vertical-align: text-bottom;*/
	vertical-align: text-bottom;
}
.drcls{
	line-height: 3.7rem;
}


.ttsp{
	color: #808080;
}
.ttsp:hover, .nv-link:hover{
	cursor: pointer;
	text-shadow: 2px 7px 5px rgba(0,0,0,0.3); 
    /*0px -4px 10px rgba(255,255,255,0.3);*/
	color: #000;
}

.alng, .alnk, .sncn{
	font-size: 25px;
	cursor: pointer;
	color: #808080;
}

.alnk:hover, .sncn:hover{
	font-size: 25px;
	cursor: pointer;
	color: #00acee;
}
.alng:hover{
	cursor: pointer;
	color: #000;
}

.skicn{
	font-size: 30px;
	/*cursor: pointer;*/
	padding-top: 1rem; 
	color: #808080;
}

/*.skicn:hover{
	font-size: 30px;
	cursor: pointer;
	color: #00acee;
}*/

.nv-link{
	color: #808080;

}

#skills, #interest, #workexp, #education, #skills, #projects{
	padding-top:11rem; 
	width: 100%;
	min-height: 100vh;
}

.spabtt{
	font-size: 2.4rem;
	font-family: 'Saira Extra Condensed', sans-serif;
}

.spabts{
	font-size: 1rem; 
	line-height: 3.7rem;
}

.lg-img{
	width: 8rem;
	height: 7rem;
}

.icn{
	font-size: 1.2rem;
}

.explntin{
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
}

