{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Ravi Kumar D|Resume</title>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/a2fa0100dc.js"></script>
    <script src="https://kit.fontawesome.com/0d12e37eba.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="d-flex flex-row" id='mnrwbr'>
			<div class="d-flex flex-column" id='navbarr'>
				<div class="titblc">
					<span class="ttsp"><a class="nv-link" href="#abtme">ABOUT ME</a></span>
				</div>
				<div class="titblc">
					<span class="ttsp"><a class="nv-link" href="#projects">PROJECTS</a></span>
				</div>
				<div class="titblc">
					<span class="ttsp"><a class="nv-link" href="#skills">SKILLS</a></span>
				</div>
				<div class="titblc">
					<span class="ttsp"><a class="nv-link" href="#workexp">WORK EXPERIENCE</a></span>
				</div>
				<div class="titblc">
					<span class="ttsp"><a class="nv-link" href="#education">EDUCATION</a></span>
				</div>
				<div class="titblc">
					<span class="ttsp "><a class="nv-link" href="#interest">INTERESTS</a></span>
				</div>
			</div>
			<div class="d-flex flex-column p-3 col-md-8" id='cbar'>
				<div class="row">
					<div class="col-md-6" id='abtme'>
						<div class="d-flex flex-row">
							<div class="col-sm-5">
								<img class="img-thumbnail rounded-circle" src="{% static 'male_profile_image.png' %}" width="150px" height="150px">
							</div>
							<div class="col-sm-6 prf-blc">
								<div class="">
									<span class="small">Ravi Kumar D</span>
								</div>
								<div class="">
									<span class="small">d.ravikumar@hotmail.com</span>
								</div>
								<div class="">
									<span class="small">895-148-1455</span>
								</div>
							</div>
						</div>	
					</div>	
					<div class="col-md-6 d-flex align-items-end flex-column">
						<div class="mt-auto d-flex flex-row">
							<div class="sc-icons p-1 mr-2">
								<span class="sncn"><i class="fab fa-linkedin"></i></i></span>
							</div>
							<div class="sc-icons p-1 mr-2">
								<span class="sncn"><i class="fab fa-github"></i>
								</span>
							</div>
							<div class="sc-icons p-1 mr-2">
								<span class="sncn"><i class="fab fa-twitter"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shadow-lg" id='rm-cnt'>
				<div class="row ml-2 mt-3" id='projects'>
					<div class="titblc">
						<span class="" >PROJECTS</span>
					</div>
					<div class="titblc pt-3">
						<span>Tapala</span>
						<p>
							A social networking web-app built for users to share their posts, videos and accepting as well sending the friend requests through the registration and login process 
						</p>
					</div>
					<div class="titblc">
						<span>Ticklistt</span>
						<p>
							An web application for creating the checklist to track the essentials or utilites respective to their need of tracking list in day to day activites, for eg., travel-aid items like BackPack, clothes, Soap, Shampoo, Brush etc., 
						</p>
					</div>
				</div>
				<div class="row pl-2" id='skills'>
					<div class="col titblc">
						<span class="">SKILLS</span>
					</div>
					<div class="w-100"></div>
					<div class="col"></div>
					<div class="col-sm-11">
						<div class="titblc">
							<span>
								Python>=3.6, Django>2.1, HTML5, CSS, Jquery, Bootstrap>4.4, Git, Heroku, AWS  
							</span>
						</div>
					</div>	
				</div>
				<div class="row pl-2" id='workexp'>
					<div class="col">
						<span class="titblc">WORK EXPERIENCE</span>
					</div>
					<div class="w-100"></div>
					<div class="col"></div>
					<div class="col-sm-11 pr-2">
						<div class="">
							<span class="titblc">HCL Technologies</span>
						</div>
						<div class="">
							<span class="titblc">Lowe's</span>
						</div>
						<div class="">
							<span class="titblc">CGI</span>
						</div>	
					</div>
				</div>
				<div class="row pl-2" id='education'>
					<div class="col">
						<span class="titblc">EDUCATION</span>
					</div>
					<div class="w-100"></div>
					<div class="col"></div>
					<div class="col-sm-11">
						<div class="titblc">
							<span>SRI RAM ENGINEERING COLLEGE/ANNA UNIVERSITY - 2012</span>
						</div>
						<div class="titblc">
							<span>A.P BOARD OF INTERMEDIATE EDUCATION  - 2008</span>
						</div>
						<div class="titblc">
							<span>A.P BOARD OF SECONDARY EDUCATION  - 2006</span>
						</div>
					</div>
				</div>
				<div class="row ml-2" id="interest">
					<div class="col titblc">
						<span >INTERESTS</span>	
					</div>
					<div class="w-100"></div>
					<div class="col">
						<span>
							Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.

							When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>